<?php

// define a custom watermark image (relative or absolute URL)
$config['custom_watermark_image'] = './skins/watermark.png';

// define a custom URI to be displayed instead of the empty watermark page
$config['custom_watermark_uri'] = '';

// define a custom favicon image (emtpy string to remove it)
$config['custom_favicon'] = './skins/favicon.ico';

// defines a custom CSS file which is added to every page
$config['custom_stylesheet'] = './skins/custom.css';